<launch>

    <arg name="robot_nickname" value="yumi"/>
    <arg name="working_dir" value="$(find lfd_interface)/data" />

    <arg name="name" default="testdemo"/>

    <arg name="config_file" value="$(find lfd_interface)/config/demonstrations/default.yaml"/>

    <include file="$(find lfd_interface)/launch/demonstration_storage.launch"/>
    
    <node name="lfd_interface_node" pkg="lfd_interface" type="lfd_interface_node" output="screen">
        <param name="demonstration_name" value="$(arg name)"/>
        <rosparam command="load" file="$(arg config_file)" />
        <remap from="/joint_states" to="/$(arg robot_nickname)/rws/joint_states"/>
    </node>

</launch>
