<launch>

    <arg name="config" default="default"/>
    <arg name="load_storage" default="true"/>

    <arg name="config_file" value="$(find lfd_interface)/config/demonstrations/$(arg config).yaml"/>
    <arg name="dmp_method" default="dmpbbo"/>
    
    <arg name="training_mode" default="bspline" doc="bspline, lwr, rbfn, wls"/>
    <arg name="num_kernels" default="10"/>

    <include file="$(find lfd_dmp)/launch/dmp_bringup.launch">
        <arg name="robot_ns" value="$(arg config)"/>
        <arg name="dmp_method" value="$(arg dmp_method)"/>
        <arg name="training_mode" value="$(arg training_mode)"/>
        <arg name="num_kernels" value="$(arg num_kernels)"/>
    </include>

    <include file="$(find lfd_interface)/launch/lfd_storage.launch" if="$(arg load_storage)"/>
    
    <node name="lfd_dmp_baseline_$(arg config)" pkg="lfd_interface" type="lfd_dmp_baseline" output="screen">
        <rosparam command="load" file="$(arg config_file)" />
    </node>

</launch>
