<launch>
    <arg name="robot_nickname" value="yumi"/>
    <arg name="working_dir" default="$(find lfd_interface)/data" />

    <arg name="name" default="testdemo"/>

    <arg name="config" default="default"/>

    <arg name="config_file" value="$(find lfd_interface)/config/demonstrations/$(arg config).yaml"/>

    <include file="$(find lfd_interface)/launch/lfd_storage.launch"/>
    
    <node name="lfd_planner_node" pkg="lfd_interface" type="lfd_planner_node" output="screen">
        <param name="demonstration_name" value="$(arg name)"/>
        <rosparam command="load" file="$(arg config_file)" />
        <!-- <remap from="/joint_states" to="/$(arg robot_nickname)/rws/joint_states"/> -->
    </node>

</launch>
