<launch>

    <arg name="name" default="testdemo"/>
    <arg name="demo_count" default="4"/>
    <arg name="config_file" value="$(find lfd_interface)/config/demonstrations/default.yaml"/>

    <include file="$(find lfd_dmp)/launch/dmpbbo_bringup.launch"/>

    <node name="keyboard_command" pkg="lfd_interface" type="keyboard_command.py">
    </node>

    <include file="$(find lfd_interface)/launch/lfd_storage.launch"/>
    
    <node name="lfd_dmp_baseline" pkg="lfd_interface" type="lfd_dmp_baseline" output="screen">
        <param name="demonstration_name" value="$(arg name)"/>
        <param name="demo_count" value="$(arg demo_count)"/>
        <rosparam command="load" file="$(arg config_file)" />
    </node>

</launch>
