<launch>
    <arg name="robot_group" default="fr3" />
    <arg name="camera" default="true" />
    <arg name="training_mode" default="bspline" doc="bspline, lwr, rbfn, wls"/>
    <arg name="num_kernels" default="10"/>    

    <group if="$(eval robot_group == 'fr3')">

        <include file="$(find lfd_smoothing)/launch/ik_solver.launch">
            <arg name="robot_type" value="fr3" />
        </include>

        <include file="$(find lfd_interface)/launch/util.launch">
            <arg name="config" value="fr3_hand" />
        </include>

        <include file="$(find lfd_interface)/launch/lfd_dmp_baseline.launch">
            <arg name="config" value="fr3" />
            <arg name="dmp_method" value="dmpbbo" />
            <arg name="training_mode" value="$(arg training_mode)"/>
            <arg name="num_kernels" value="$(arg num_kernels)"/>
        </include>

    </group>

    <group if="$(eval robot_group == 'yumi_l')">

        <include file="$(find lfd_smoothing)/launch/ik_solver.launch">
            <arg name="robot_type" value="yumi_l" />
        </include>

        <include file="$(find lfd_interface)/launch/util.launch">
            <arg name="config" value="yumi_l" />
        </include>

        <include file="$(find lfd_interface)/launch/lfd_dmp_baseline.launch">
            <arg name="config" value="yumi_l" />
            <arg name="dmp_method" value="dmpbbo" />
            <arg name="training_mode" value="$(arg training_mode)"/>
            <arg name="num_kernels" value="$(arg num_kernels)"/>
        </include>

    </group>

    <group if="$(eval robot_group == 'yumi_r')">

        <include file="$(find lfd_smoothing)/launch/ik_solver.launch">
            <arg name="robot_type" value="yumi_r" />
        </include>

        <include file="$(find lfd_interface)/launch/util.launch">
            <arg name="config" value="yumi_r" />
        </include>

        <include file="$(find lfd_interface)/launch/lfd_dmp_baseline.launch">
            <arg name="config" value="yumi_r" />
            <arg name="dmp_method" value="dmpbbo" />
            <arg name="training_mode" value="$(arg training_mode)"/>
            <arg name="num_kernels" value="$(arg num_kernels)"/>
        </include>

    </group>

    <group if="$(arg  camera)">
        <include file="$(find lfd_interface)/launch/camera.launch">
            <!-- Add any required arguments for camera.launch here if needed -->
        </include>
    </group>
</launch>
