<launch>

  <node name="temp_planner" pkg="lfd_interface" type="temp_planner" respawn="false" output="screen">
  </node>

</launch>




<!-- <launch>

    <arg name="arm_id" default="fr3" />

    <node name="temp_planner" pkg="lfd_interface" type="temp_planner" respawn="false" output="screen">
        <rosparam command="load" file="$(find fr3_moveit_config)/config/kinematics.yaml" subst_value="true"/>
        <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
        <rosparam command="load" file="$(find fr3_moveit_config)/config/ompl_planning.yaml"/>
    </node>

</launch> -->